
<div class="main marg-top">
    <div class="container bg-greyy">
    
   
      <div class="row">
        <div class="ms-5 max-wid-marg col-10">
          <div class="inner">
              <ul style="background: #444444; border-radius: 8px; padding-top: 6px;padding-bottom: 6px;">
                  <li class="" style="font-size:20px;"><a target="_blank" class="text-decoration-none text-white" href="https://bhavesh1221.github.io/trainbooking/"><strong>Train Booking App - Technologies used: HTML, CSS, Angular, NodeJs, ExpressJs, MySQL</strong></a></li>
                <p style="font-size: 14px; margin-bottom: 2px;">
                  Successfully designed and developed a feature-rich Train Booking application using the MEAN stack, meeting all requirements outlined on the <strong>"Unstop platform"</strong> Seamlessly integrated Angular for an interactive front-end, and harnessed Express.js, Node.js, and MySQL to ensure efficient data flow and storage. This project showcases my ability to deliver a comprehensive, end-to-end solution that aligns with industry standards.
                  <br> The Project - <a  class="text-decoration-none" target="_blank" href="https://bhavesh1221.github.io/trainbooking/">https://bhavesh1221.github.io/trainbooking/ </a>
                  <br> Frontend Code - <a class="text-decoration-none" target="_blank"  href="https://github.com/bhavesh1221/trainbooking/tree/master">https://github.com/bhavesh1221/trainbooking/tree/master</a>
                  <br> Backend Code - <a class="text-decoration-none" target="_blank"  href="https://github.com/bhavesh1221/trainbooking_BE">https://github.com/bhavesh1221/trainbooking_BE</a>
                 

                    <br>
                    <a class="text-decoration-none" target="_blank" href=""></a>
                </p>
                   
              </ul>
          </div>
      </div>
          <div class="ms-5 max-wid-marg col-10">
              <div class="inner">
                  <ul style="background: #444444; border-radius: 8px; padding-top: 6px;padding-bottom: 6px; padding-right: 11px;">
                      <li class="" style="font-size:20px;"><a class="text-decoration-none text-white" target="_blank" href="https://bhavesh1221.github.io/angular_electrons_web/"><strong>Electrons - Electronics Ecommerce Web App</strong></a></li>
                    <p style="font-size: 14px; margin-bottom: 2px;">
                      Electrons is a web application built using the MEAN stack, which includes MongoDB, Express.js, Angular, and Node.js. The application features reactive forms, behavior subject, and API calls to communicate with the backend. It utilizes local storage and cookies to store data on the client-side, and is designed to handle data transfer between the client and the server.
                      Currently, I am working on adding micro-frontend architecture to improve the application's scalability and maintainability.
                        <br>
                        <a class="text-decoration-none" target="_blank" href="https://bhavesh1221.github.io/angular_electrons_web/">https://bhavesh1221.github.io/angular_electrons_web/</a>
                    </p>
                       
                  </ul>
              </div>
          </div>
          <div class="ms-5 max-wid-marg col-10">
            <div class="inner">
                <ul style="background: #444444; border-radius: 8px; padding-top: 6px;padding-bottom: 6px;">
                    <li class="" style="font-size:20px;"><a class="text-decoration-none text-white" href="https://bhavesh1221.github.io/calculator_dynamic/" target="_blank"><strong>Calculator</strong></a></li>
                  <p style="font-size: 14px; margin-bottom: 2px;">
                    <a class="text-decoration-none" target="_blank" href="https://bhavesh1221.github.io/calculator_dynamic/">https://bhavesh1221.github.io/calculator_dynamic/</a>
                    <br>
                    Built using HTML, CSS, and JavaScript. The calculator has beautiful user interface and is easy to use. It allows users to perform basic arithmetic calculations, including addition, subtraction, multiplication, and division.
                     Which can also be used on Mobile Devices.
                  </p>
                     
                </ul>
            </div>
        </div>

        <div class="ms-5 max-wid-marg col-10">
          <div class="inner">
              <ul style="background: #444444; border-radius: 8px; padding-top: 6px;padding-bottom: 6px;">
                  <li class="" style="font-size:20px;"><a class="text-decoration-none text-white" href="https://bhavesh1221.github.io/TodoListUsingJavaScript/" target="_blank"><strong>Task manager</strong></a></li>
                <p style="font-size: 14px; margin-bottom: 2px;">
                  <a class="text-decoration-none" target="_blank" href="https://bhavesh1221.github.io/TodoListUsingJavaScript/">https://bhavesh1221.github.io/TodoListUsingJavaScript/</a>
                  <br>
                  Task Manager built using HTML, CSS, and JavaScript. The application features a stunning user interface that is intuitive and easy to navigate. With its simple design and efficient functionality, users can easily manage their tasks and stay on top of their to-do list.
                </p>
                   
              </ul>
          </div>
      </div>

      <div class="ms-5 max-wid-marg col-10">
        <div class="inner">
            <ul style="background: #444444; border-radius: 8px; padding-top: 6px;padding-bottom: 6px;">
                <li class="" style="font-size:20px;"><a class="text-decoration-none text-white" href="https://bhavesh1221.github.io/chucknorrisApi/" target="_blank"><strong>Random Data Generator</strong></a></li>
              <p style="font-size: 14px; margin-bottom: 2px;">
                <a class="text-decoration-none" href="https://bhavesh1221.github.io/chucknorrisApi/" target="_blank">https://bhavesh1221.github.io/chucknorrisApi/</a>
                <br>
                Created a Basic Page in which Data is Fetched using api, Every Time User Reloads the page the Data is updated with new Information.
              </p>
                 
            </ul>
        </div>
    </div>

      </div>
    </div>
  </div>