
<div class="main">
    <div class="container bg-greyy">
    
   
      <div class="row">
          <div class="ms-5 col-10">
              <div class="inner">
                  <ul style="background: #444444; border-radius: 8px; padding-top: 6px;padding-bottom: 6px;">
                      <li class="" style="font-size:20px;"><a class="text-decoration-none text-white" href="#"><strong>Electrons - Electronics Ecommerce Web App</strong></a></li>
                    <p style="font-size: 14px; margin-bottom: 2px;">
                        The Web Application is made using MEAN stack.
                        Implemented Reactive forms to Fetch User Data, Used Behaviour Subject for Data Sharing between Components, Implemented GET,POST api's to GET and POST data to Backend, used Cookies, Local Storage to Store Data on Browser. Also Implemented Wilcard Route.
                        Currently Working to Add Authentication using MongoDB.
                        <br>
                        <a class="text-decoration-none" target="_blank" href="https://bhavesh1221.github.io/angular_electrons_web/">https://bhavesh1221.github.io/angular_electrons_web/</a>
                    </p>
                       
                  </ul>
              </div>
          </div>
          <div class="ms-5 col-10">
            <div class="inner">
                <ul style="background: #444444; border-radius: 8px; padding-top: 6px;padding-bottom: 6px;">
                    <li class="" style="font-size:20px;"><a class="text-decoration-none text-white" href="#"><strong>Calculator</strong></a></li>
                  <p style="font-size: 14px; margin-bottom: 2px;">
                    <a class="text-decoration-none" target="_blank" href="https://bhavesh1221.github.io/calculator_dynamic/">https://bhavesh1221.github.io/calculator_dynamic/</a>
                    <br>
                     Created Beautiful User Friendly Responsive Calculator Using HTML, CSS, JavaScript.
                     Which can also be used on Mobile Devices.
                  </p>
                     
                </ul>
            </div>
        </div>

        <div class="ms-5 col-10">
          <div class="inner">
              <ul style="background: #444444; border-radius: 8px; padding-top: 6px;padding-bottom: 6px;">
                  <li class="" style="font-size:20px;"><a class="text-decoration-none text-white" href="#"><strong>Task manager</strong></a></li>
                <p style="font-size: 14px; margin-bottom: 2px;">
                  <a class="text-decoration-none" target="_blank" href="https://bhavesh1221.github.io/TodoListUsingJavaScript/">https://bhavesh1221.github.io/TodoListUsingJavaScript/</a>
                  <br>
                   Created an User Friendly To-Do List App using HTML, CSS, JavaScript. Which can keep record of tasks that user can easily Add and Remove.
                </p>
                   
              </ul>
          </div>
      </div>

      <div class="ms-5 col-10">
        <div class="inner">
            <ul style="background: #444444; border-radius: 8px; padding-top: 6px;padding-bottom: 6px;">
                <li class="" style="font-size:20px;"><a class="text-decoration-none text-white" href="#"><strong>Random Data Generator</strong></a></li>
              <p style="font-size: 14px; margin-bottom: 2px;">
                <a class="text-decoration-none" href="https://bhavesh1221.github.io/chucknorrisApi/" target="_blank">https://bhavesh1221.github.io/chucknorrisApi/</a>
                <br>
                Created a Basic Page in which Data is Fetched using api, Every Time User Reloads the page the Data is updated with new Information.
              </p>
                 
            </ul>
        </div>
    </div>

      </div>
    </div>
  </div>