
.bg-greyy{
    // background: #23252f;
}
.main{
    // height: 37rem;
    // background: #23252f;
    height: 800px;
}
.inner{
    padding: 10px;
    color: white;
}
ul{
    padding-bottom: 1px;
} 
a{
    word-break: break-word;
}
.marg-top{
    padding-top: 100px;
}

@media screen and (max-width: 425px){
    .max-wid-marg{
        margin-left: 2rem !important;
    }

}