
<div class="main marg-top">
  <div class="container bg-greyy">
   <div class="c-m">
    <div class="pt-4 ">
        <h3 class="text-white ">Working in Impetus-Intellicus from 07/2023 to Present</h3>
    </div>
    <div class="row">

        <div class="col-10">
            <div class="inner">
                <ul style="background: #444444; border-radius: 8px; padding-top: 6px;padding-bottom: 6px; padding-right:8px;">
                    <li class="" style="font-size:20px;"><a href="javascript:void(0)" class="text-decoration-none text-white"><strong>Revamped Crosstab to TypeScript</strong></a></li>
                    <p style="font-size: 14px; margin-bottom: 2px;">Revamped 'crosstab' module by migrating from ES5 to TypeScript,
                        enhancing code clarity and enabling the use of modern JavaScript
                        features (ES6+) </p>
                </ul>
            </div>
        </div>


        <div class="col-10">
            <div class="inner">
                <ul style="background: #444444; border-radius: 8px; padding-top: 6px;padding-bottom: 6px; padding-right:8px;">
                    <li class="" style="font-size:20px;"><a href="javascript:void(0)" class="text-decoration-none text-white"><strong>Implemented Rich Text Editor Library</strong></a></li>
                    <p style="font-size: 14px; margin-bottom: 2px;">Implemented a Rich Text Editor library with formatting, media
                        embedding, and collaboration for enhanced content creation. </p>
                </ul>
            </div>
        </div>

        <div class="col-10">
            <div class="inner">
                <ul style="background: #444444; border-radius: 8px; padding-top: 6px;padding-bottom: 6px; padding-right:8px;">
                    <li class="" style="font-size:20px;"><a href="javascript:void(0)" class="text-decoration-none text-white"><strong>Created Bookmark Filter</strong></a></li>
                    <p style="font-size: 14px; margin-bottom: 2px;">Developed a Bookmark Filter system allowing users to save customized
                        filters for quick access, streamlining efficiency. </p>
                </ul>
            </div>
        </div>

        <div class="col-10">
            <div class="inner">
                <ul style="background: #444444; border-radius: 8px; padding-top: 6px;padding-bottom: 6px; padding-right:8px;">
                    <li class="" style="font-size:20px;"><a href="javascript:void(0)" class="text-decoration-none text-white"><strong>Integrated Kyvos Api in Intellicus</strong></a></li>
                    <p style="font-size: 14px; margin-bottom: 2px;">Integrated Kyvos Hive Path API into Intellicus for seamless data fetching
                        and integration, enhancing analytical capabilities. </p>
                </ul>
            </div>
        </div>


        <div class="col-10">
            <div class="inner">
                <ul style="background: #444444; border-radius: 8px; padding-top: 6px;padding-bottom: 6px; padding-right:8px;">
                    <li class="" style="font-size:20px;"><a href="javascript:void(0)" class="text-decoration-none text-white"><strong>Added Ldap Feature in the Product</strong></a></li>
                    <p style="font-size: 14px; margin-bottom: 2px;">Integrated LDAP API in collaboration with backend developers to
                        implement new functionality. </p>
                </ul>
            </div>
        </div>

        <div class="col-10">
            <div class="inner">
                <ul style="background: #444444; border-radius: 8px; padding-top: 6px;padding-bottom: 6px; padding-right:8px;">
                    <li class="" style="font-size:20px;"><a href="javascript:void(0)" class="text-decoration-none text-white"><strong>Developed Drill Up/Down Feature</strong></a></li>
                    <p style="font-size: 14px; margin-bottom: 2px;">Implemented drill-up/down in smart reports for navigating hierarchical
                        data structures and deeper analysis. </p>
                </ul>
            </div>
        </div>


        <div class="col-10">
            <div class="inner">
                <ul style="background: #444444; border-radius: 8px; padding-top: 6px;padding-bottom: 6px; padding-right:8px;">
                    <li class="" style="font-size:20px;"><a href="javascript:void(0)" class="text-decoration-none text-white"><strong>Developed Show Summary Enhancement</strong></a></li>
                    <p style="font-size: 14px; margin-bottom: 2px;">Implemented 'Show Summary Enhancement' in the crosstab module,
                        mirroring MS-Excel's grid functionality </p>
                </ul>
            </div>
        </div>
    </div>
   </div>
   
    <div class="c-m">
        <div class="pt-4 ">
            <h3 class="text-white ">Worked in Shiprocket from 09/2021 to 04/2023</h3>
           </div>
            <div class="row">
                <div class=" col-10">
                    <div class="inner">
                        <ul style="background: #444444; border-radius: 8px; padding-top: 6px;padding-bottom: 6px; padding-right:8px;">
                            <li class="" style="font-size:20px;"><a href="https://app.shiprocket.in/seller/tracking/basicsetup" class="text-decoration-none text-white"><strong>Buyer's Tracking Module</strong></a></li>
                            <p style="font-size: 14px; margin-bottom: 2px;">Created Whole Tracking Module with Ownership, which is working on
                                Production for All users. <br> The Module contains 8 Tabs in which I have created Whole Design from scratch, implemented Reactive Forms, Integrated API's, added Routes. <br> In this, User is able to Submit
                                page setup form, change theme, add recommendation banners and much
                                more.</p>
                                <a class="text-decoration-none" target="_blank" href="https://app.shiprocket.in/seller/tracking/basicsetup">Click here</a>
                        </ul>
                    </div>
                </div>
                <div class=" col-10">
                    <div class="inner">
                        <ul style="background: #444444; border-radius: 8px;padding-top: 6px;padding-bottom: 6px; padding-right:8px;">
                            <li class="" style="font-size:20px;"><a class="text-decoration-none text-white" href="https://app.shiprocket.in/dashboard/tracking">
                               <strong> Tracking Page</strong>
                            </a></li>
                            <p style="font-size: 14px;">
                                Created Tracking Page on Company's Website, running live on Production for all users.
                                <br>
                                I have implemented PieChart, BarGraph for Data visualization using HighChart Library.
                                Also implemented API's
                                
                               <br>
                               <a class="text-decoration-none" href="https://app.shiprocket.in/dashboard/tracking" target="_blank">Click here</a> to visit the page.
                              <br> <a class="text-decoration-none" href=" https://drive.google.com/drive/folders/12dLay0H3j6Lk3FaHrLaV4PXBMujjorGY?usp=sharing">Photos</a> to see snapshots
                            </p>
                        </ul>
                    </div>
                </div>
                <div class=" col-10">
                    <div class="inner">
                        <ul style="background: #444444; border-radius: 8px;padding-top: 6px;padding-bottom: 6px; padding-right:8px;">
                            <li class="" style="font-size:20px;"><a class="text-decoration-none text-white" href="https://app.shiprocket.in/seller/home">
                               <strong> HomePage and AddOrders Flow</strong>
                            </a></li>
                            <p style="font-size: 14px;">
                                Worked on angular, learnt how to add routing, directives, Data binding, Data Transfer using Service,
                                Pipes, Transfer Data between <br> components  via Parent to Child and Child to Parent Componen, CRUD. <br>
                                <a class="text-decoration-none" href="https://app.shiprocket.in/seller/home" target="_blank">Click here</a> to visit the Home page. <br>
                                <a class="text-decoration-none" href="https://app.shiprocket.in/seller/addorders" target="_blank">Click here</a> to visit the Orders page.
                            </p>
                        </ul>
                    </div>
                </div>
                <div class=" col-10">
                    <div class="inner">
                        <ul style="background: #444444; border-radius: 8px;padding-top: 6px;padding-bottom: 6px; padding-right:8px;">
                            <li class="" style="font-size:20px;"><a class="text-decoration-none text-white" href="https://app.shiprocket.in/login">
                                <strong>Login/SignUp</strong>
                            </a></li>
                            <p style="font-size: 14px;">
                                Worked on the Whole Login/Sign up Flow. I was Working in front with
                                Senior Developers, made whole design from Scratch.
                                Also added some logics on login page like password authentication, added validations and much more.
                                <br>
                                <a class="text-decoration-none" href="https://app.shiprocket.in/login" target="_blank">Click here</a> to visit the Login page.
                                <a class="text-decoration-none" href="https://app.shiprocket.in/register" target="_blank">Click here</a> to visit the Register page.
        
                            </p>
                        </ul>
                    </div>
                </div>
                <div class=" col-10">
                    <div class="inner">
                        <ul style="background: #444444; border-radius: 8px; padding-top: 6px;padding-bottom: 6px; padding-right:8px;">
                            <li class="" style="font-size:20px;"><a href="javascript:void(0)" class="text-decoration-none text-white"><strong>Exchange Module</strong></a></li>
                            <p style="font-size: 14px; margin-bottom: 2px;">
                              
                                Currently Working on Exchange Module, which has Two parts Deliver and Return. Using Angular Material and Boostrap to Design, Implementing Reuse of components, Service to transfer Data, Parent child and Child to Parent
                                Data Transfer and much more
        
                            </p>
                                <!-- <a href="https://app.shiprocket.in/seller/tracking/basicsetup">click here</a> -->
                        </ul>
                    </div>
                </div>
            </div>
    </div>

    <div class="c-m">
        <div class="pt-4 ">
            <h3 class="text-white ">Geekster from 01/2021 to 07/2021</h3>
       </div>
        <div class="row">
            <div class="col-10">
                <div class="inner">
                    <ul style="background: #444444; border-radius: 8px; padding-top: 6px;padding-bottom: 6px; padding-right:8px;">
                        <li class="" style="font-size:20px;"><a href="javascript:void(0)" class="text-decoration-none text-white"><strong>ApprenticeShip</strong></a></li>
                        <p style="font-size: 14px; margin-bottom: 2px;">Skills - Web Development, JavaScript, Programming, ReactJs, Angular, jQuery, NodeJs </p>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>  