
<div class="main marg-top">
  <div class="container bg-greyy">
   <div class="pt-4 ">
    <h3 class="text-white ms-4">Working in SHIPROCKET from 09/2021 to Present</h3>
   </div>
    <div class="row">
        <div class="ms-4 col-10">
            <div class="inner">
                <ul style="background: #444444; border-radius: 8px; padding-top: 6px;padding-bottom: 6px; padding-right:8px;">
                    <li class="" style="font-size:20px;"><a href="https://app.shiprocket.in/seller/tracking/basicsetup" class="text-decoration-none text-white"><strong>Buyer's Tracking Module</strong></a></li>
                    <p style="font-size: 14px; margin-bottom: 2px;">Created Whole Tracking Module with Ownership, which is working on
                        Production for All users. <br> The Module contains 8 Tabs in which I have created Whole Design from scratch, implemented Reactive Forms, Integrated API's, added Routes. <br> In this, User is able to Submit
                        page setup form, change theme, add recommendation banners and much
                        more.</p>
                        <a class="text-decoration-none" target="_blank" href="https://app.shiprocket.in/seller/tracking/basicsetup">Click here</a>
                </ul>
            </div>
        </div>
        <div class="ms-4 col-10">
            <div class="inner">
                <ul style="background: #444444; border-radius: 8px;padding-top: 6px;padding-bottom: 6px; padding-right:8px;">
                    <li class="" style="font-size:20px;"><a class="text-decoration-none text-white" href="https://app.shiprocket.in/dashboard/tracking">
                       <strong> Tracking Page</strong>
                    </a></li>
                    <p style="font-size: 14px;">
                        Created Tracking Page on Company's Website, running live on Production for all users.
                        <br>
                        I have implemented PieChart, BarGraph for Data visualization using HighChart Library.
                        Also implemented API's
                        
                       <br>
                       <a class="text-decoration-none" href="https://app.shiprocket.in/dashboard/tracking" target="_blank">Click here</a> to visit the page.
                      <br> <a class="text-decoration-none" href=" https://drive.google.com/drive/folders/12dLay0H3j6Lk3FaHrLaV4PXBMujjorGY?usp=sharing">Photos</a> to see snapshots
                    </p>
                </ul>
            </div>
        </div>
        <div class="ms-4 col-10">
            <div class="inner">
                <ul style="background: #444444; border-radius: 8px;padding-top: 6px;padding-bottom: 6px; padding-right:8px;">
                    <li class="" style="font-size:20px;"><a class="text-decoration-none text-white" href="https://app.shiprocket.in/seller/home">
                       <strong> HomePage and AddOrders Flow</strong>
                    </a></li>
                    <p style="font-size: 14px;">
                        Worked on angular, learnt how to add routing, directives, Data binding, Data Transfer using Service,
                        Pipes, Transfer Data between <br> components  via Parent to Child and Child to Parent Componen, CRUD. <br>
                        <a class="text-decoration-none" href="https://app.shiprocket.in/seller/home" target="_blank">Click here</a> to visit the Home page. <br>
                        <a class="text-decoration-none" href="https://app.shiprocket.in/seller/addorders" target="_blank">Click here</a> to visit the Orders page.
                    </p>
                </ul>
            </div>
        </div>
        <div class="ms-4 col-10">
            <div class="inner">
                <ul style="background: #444444; border-radius: 8px;padding-top: 6px;padding-bottom: 6px; padding-right:8px;">
                    <li class="" style="font-size:20px;"><a class="text-decoration-none text-white" href="https://app.shiprocket.in/login">
                        <strong>Login/SignUp</strong>
                    </a></li>
                    <p style="font-size: 14px;">
                        Worked on the Whole Login/Sign up Flow. I was Working in front with
                        Senior Developers, made whole design from Scratch.
                        Also added some logics on login page like password authentication, added validations and much more.
                        <br>
                        <a class="text-decoration-none" href="https://app.shiprocket.in/login" target="_blank">Click here</a> to visit the Login page.
                        <a class="text-decoration-none" href="https://app.shiprocket.in/register" target="_blank">Click here</a> to visit the Register page.

                    </p>
                </ul>
            </div>
        </div>
        <div class="ms-4 col-10">
            <div class="inner">
                <ul style="background: #444444; border-radius: 8px; padding-top: 6px;padding-bottom: 6px; padding-right:8px;">
                    <li class="" style="font-size:20px;"><a href="javascript:void(0)" class="text-decoration-none text-white"><strong>Exchange Module</strong></a></li>
                    <p style="font-size: 14px; margin-bottom: 2px;">
                      
                        Currently Working on Exchange Module, which has Two parts Deliver and Return. Using Angular Material and Boostrap to Design, Implementing Reuse of components, Service to transfer Data, Parent child and Child to Parent
                        Data Transfer and much more

                    </p>
                        <!-- <a href="https://app.shiprocket.in/seller/tracking/basicsetup">click here</a> -->
                </ul>
            </div>
        </div>
    </div>
  </div>
</div>  