.bg-greyy{
    // background: #23252f;
}
.main{
    // height: 37rem;
    // background: #23252f;
}
.inner{
    // padding: 10px;
    color: white;
}
ul{
    padding-bottom: 1px;
}
// @media screen and (min-width: 425px){
    .marg-top{
        padding-top: 79px;
    }
// }
a{
    color: #3affc5;
}


.c-m{
    margin-left: 10rem;
}
@media screen and (max-width: 425px){
    .c-m{
        margin-left: 2rem;
    }

}