<div class="main bg-greyy">
    <div class="d-flex justify-content-center align-items-center">
        <img class="mt-2" width="80" height="60" style="border-radius: 100%;" src="assets/images/passport.png" alt="img">
        <h4 class="text-white mt-2"> Bhavesh Gupta</h4>
    </div>
   <div class="d-flex justify-content-center align-items-center">
    <a href="#" routerLink="/home"><p class="text-white navp">Home</p> </a>
    <a href="#" routerLink="/projects"> <p class="text-white navp">Projects</p></a>
    <a href="#" routerLink="/workex"> <p class="text-white navp" >Work Experience</p></a>
    <a href="#" routerLink="/contact"> <p class="text-white navp">Contact</p></a>
   </div>
 </div>
 <router-outlet></router-outlet>