<div>
    <nav>
        <div class="d-flex justify-content-center align-items-center marg" >
          <button  id="blinking-text" class="downloadBtn" style="
            background-color: rgb(35, 37, 47);
            color: white;
            border-radius: 8px;
            border: none;
        ">
          <a target="_blank" href="https://drive.google.com/file/d/1jI-c23XLJE2ESPmKA-bF4mex6BeErXBE/view?usp=sharing" download="bhavesh's resume" style="color: white;">  Download Resume</a>
               
            </button>
            <img class="mt-2" width="80" height="60" style="border-radius: 100%;" src="assets/images/passport.png" alt="img">
            <h4 class="text-white mt-2" style="width:200px"> Bhavesh Gupta</h4>
        </div>
        <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-links mb-0 close-ham">
          <li class="close-ham">
              <a class="acive" routerLink="/home"><p class="text-white navp">Home</p> </a>
          </li>
          <li class="close-ham">
            <a class="acive" routerLink="/workex"> <p class="text-white navp" >Work Experience</p></a>
          </li>
          <li class="close-ham">
            <a class="acive" routerLink="/projects"> <p class="text-white navp">Projects</p></a>
          </li>
          <li class="close-ham">
            <a class="acive" routerLink="/contact"> <p class="text-white navp">Contact</p></a>
          </li>
        </ul>
    </nav>
</div>
 <router-outlet></router-outlet>