<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-12 center-content">
                <div
                    class="d-flex flex-column justify-content-end align-items-center text-center mt-14rem">
                    <h3 class="text-white">Design. Build. Improve.</h3>
                    <p class="text-white mt-2">I Am Experienced in Developing Responsive Web and
                        Desktop Applications including Full Frontend Design.</p>
                    <p class="text-white"> Currently, I’m working in a Product Based Company - <a
                         target="_blank" href="https://www.intellicus.com/">Impetus - Intellicus</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>